<!doctype html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Taverna Creativa</title>
<script src="scripts/libs/vue.js"></script><!-- <script src="https://unpkg.com/vue"></script> -->
<script src="scripts/libs/tween.js"></script>
<script src="scripts/libs/Sortable.js"></script>
<script src="scripts/libs/vuedraggable.js"></script>
<link rel="stylesheet" href="styles/layout.css">
</head>
<body>
    <div class="background"></div>

    <header>
        <nav id="mainnav" class="main-navbar">
            <ul>
                <li class="nav-item"><a href="#share">Partager ⎋</a></li>
                <li class="nav-item"><a href="#about">À propos ⓘ</a></li>
            </ul>
        </nav>
    </header>

    <!-- La commande du serveur -->
	<article id="order" :class="{opened: isOpen}" class="overlay-deco order-deco">
		<header>
            <a @click="toggle" class="navbar">
                <svg class="left icon" v-if="isOpen"><use class="dark" xlink:href="assets/images/icons.svg#delete"/></svg>
                <h2 class="center">Votre commande</h2>
                <label class="right duration">{{animDuration}} min</label>
            </a>
        </header>
        <hr class="french-curve">
        <section class="order-list">
            <draggable v-model="items" @start="drag=true" @end="drag=false" :class="{dragging: drag}">
                <transition-group name="orderlist" tag="ol">
                    <li v-for="item in items" :key="item.id" class="order-item timed-item">
                        <label>{{item.label}}</label>
        				<span class="separator dotted"></span>
        				<span class="duration">{{item.duration}}'</span>
                        <button @click="removeItem(item)" title="Retirer de la commande">
                            <svg class="icon"><use class="dark" xlink:href="assets/images/icons.svg#delete"/></svg>
                        </button>
            		</li>
                </transition-group>
            </draggable>
            <p v-if="items.length <= 0">Il n'y a rien dans la commande.</p>
        </section>
        <hr class="french-curve">
        <footer class="actionbar">
            <label for="email-input">Votre email professionel :</label>
            <br>
            <input id="email-input" type="email" required v-model="email" placeholder="prénom@entreprise.com" />
            <br>
            <p id="email-message"></p>
            <br>
            <button id="button-ok" class="plain red" @click="ordering">Allez, je commande...</button>
        </footer>
	</article>

<script src="scripts/index.js"></script>
</body>
</html>
