<!doctype html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Taverna Creative</title>
<!-- <script src="https://unpkg.com/vue"></script> -->
<!-- <link rel="stylesheet" href="https://use.typekit.net/uch8xsn.css"> -->
<script src="cells/libs/vue.js"></script>
<script src="cells/libs/tween.js"></script>
<link rel="stylesheet" href="cells/styles/index.css">
</head>
<body>
    <header>
        <h1>{{site_title}}</h1>
	</header>

	<article id="menu">
		<h2>Formule "du jour"</h2>
		<ul class="formule today">
			<menu-item v-for="item in today" :item="item" :key="item.id" list="today"></order-item>
		</ul>
		<hr>
		<h2>Formule "Première découverte"</h2>
		<ul class="formule">
			<menu-item v-for="item in discovery" :item="item" :key="item.id" list="discovery"></order-item>
		</ul>
		<hr>
		<h2>Formule "À la carte"</h2>
		<ul class="formule">
			<menu-item v-for="item in alacarte" :item="item" :key="item.id" list="alacarte"></order-item>
		</ul>
		<hr>
	</article>

    <script type="text/x-template" id="menu-template">
		<li class="menu-item" :class="{ disabled: item.disabled }">
			<a @click="itemselect" class="timed-item">
				<label>{{item.label}}</label>
				<span class="separator dotted"></span>
				<span class="duration">{{item.duration}}'</span>
			</a>
		</li>
	</script>

	<article id="order" :class="{opened: isOpen}">
		<h2>
            <a @click="toggle" class="navbar">
                <svg class="icon"><use class="dark" xlink:href="assets/images/icons.svg#delete"/></svg>
                <label>Votre commande</label>
                <span class="duration">{{animDuration}}'</span>
            </a>
        </h2>
        <hr>

        <section class="item-preview" v-if="section === 'preview'">
            <video v-if="previewItem.video" id="video-player" :src="previewItem.video" :poster="previewItem.poster" controls="controls" preload="none" width="100%" height="100%" style="background-color: transparent;"></video>
            <img v-else="previewItem.poster" :src="previewItem.poster" :alt="previewItem.label" />
            <h3>{{previewItem.label}}</h3>
            <p class="duration">Durée : {{previewItem.duration}} minutes</p>
            <p class="desc">{{previewItem.desc}}</p>
            <aside>
                <button class="plain red" @click="orderPreviewItem">Oui, il faut ça !</button>
                <br><br>
                <button @click="hide">Non, merci.</button>
            </aside>
        </section>

        <section class="order-list" v-else>
            <transition-group name="orderlist" tag="ol">
                <li class="order-item timed-item" v-for="item in orderList" :key="item.id">
    				<label>{{item.label}}</label>
    				<span class="separator dotted"></span>
    				<span class="duration">{{item.duration}}'</span>
                    <button @click="removeItem(item)">
                        <svg class="icon"><use class="dark" xlink:href="assets/images/icons.svg#delete"/></svg>
                    </button>
        		</li>
            </transition-group>
            <p v-if="orderList.length <= 0">Il n'y a rien dans la commande.</p>
            <aside class="actionbar">
                <input id="email-input" type="email" placeholder="prénom@entreprise.com" /><br>
                <label for="email-input">Uniquement un email professionel s'il vous plaît.</label>
                <button id="button-ok" disabled class="plain red">Allez, c'est parti...</button>
            </aside>
        </section>

	</article>

<script src="cells/scripts/index.js"></script>
</body>
</html>
