<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>La Taverna • cc</title>
<script src="scripts/libs/vue.js"></script><!-- <script src="https://unpkg.com/vue"></script> -->
<script src="scripts/libs/tween.js"></script>
<script src="scripts/libs/Sortable.js"></script>
<script src="scripts/libs/vuedraggable.js"></script>
<link rel="stylesheet" href="styles/layout.css">
</head>
<body>
    <div class="background"></div>

    <header>
        <nav id="mainnav" class="main-navbar">
            <ul>
                <li class="nav-item"><a href="?lang=io">Ido</a></li>
                <li class="nav-item"><a href="?lang=fr">Français</a></li>
                <li class="nav-item"><a href="?lang=es">Español</a></li>
                <li class="nav-item"><a href="?lang=it">Italiano</a></li>
            </ul>
        </nav>
    </header>

    <div id="bus">
        <p v-if="isWorking">Loading...</p>
    </div>

    <!-- Le Menu de la Taverna Creativa -->
	<article id="menu" class="overlay-deco menu-deco">
        <h1>{{name}}</h1>
        <div class="menu-border">
            <section v-if="sectionToday">
                <h2>{{sectionToday.name}}</h2>
        		<ul class="formule today">
        			<menu-item v-for="item in sectionToday.hasMenuItem" :item="item" :key="item.identifier" section="today-section"></order-item>
        		</ul>
        		<hr class="french-curve">
            </section>
            <section v-if="sectionDiscovery">
        		<h2>{{sectionDiscovery.name}}</h2>
        		<ul class="formule">
        			<menu-item v-for="item in sectionDiscovery.hasMenuItem" :item="item" :key="item.identifier" section="discovery-section"></order-item>
        		</ul>
        		<hr class="french-curve">
            </section>
            <section v-if="sectionCard">
                <h2>{{sectionCard.name}}</h2>
        		<ul class="formule">
        			<menu-item v-for="item in sectionCard.hasMenuItem" :item="item" :key="item.identifier" section="alacarte-section"></order-item>
        		</ul>
        		<hr class="french-curve">
            </section>
        </div>
	</article>
    <script type="text/x-template" id="menu-template">
        <li class="menu-item" :class="{ disabled: item.disabled }">
            <a @click="itemselect" class="timed-item">
                <label>{{item.name}}</label>
                <span class="separator dotted"></span>
                <span class="duration">{{item.duration}}'</span>
            </a>
        </li>
    </script>

    <!-- Explications du serveur sur le plat -->
    <article id="preview" :class="{opened: isOpen}" class="overlay-deco preview-deco">
        <header>
            <a @click="toggle" class="navbar">
                <svg class="left icon" v-if="isOpen"><use class="dark" xlink:href="assets/images/icons.svg#delete"/></svg>
                <h2 class="center">{{name}}</h2>
                <label v-if="item" class="right duration">{{item.duration}} {{label.minute}}</label>
            </a>
        </header>
        <section v-if="!item">
            <p>{{label.empty}}</p>
        </section>
        <section v-if="item">
            <video v-if="item.video" id="video-player" :src="item.video" :poster="item.image" controls="controls" preload="none" width="100%" height="100%" style="background-color: transparent;"></video>
            <img v-else="item.image" :src="item.image" :alt="item.name" />
            <h3>{{item.name}}</h3>
            <p class="desc">{{item.description}}</p>
        </section>
        <footer class="actionbar">
            <button :disabled="!item" class="plain red" @click="orderItem">{{label.yes}}</button>
            <br><br>
            <button @click="hide">{{label.no}}</button>
        </footer>
    </article>

    <!-- La commande du serveur -->
	<article id="order" :class="{opened: isOpen}" class="overlay-deco order-deco">
		<header>
            <a @click="toggle" class="navbar">
                <svg class="left icon" v-if="isOpen"><use class="dark" xlink:href="assets/images/icons.svg#delete"/></svg>
                <h2 class="center">{{name}}</h2>
                <label class="right duration">{{animDuration}} {{label.minute}}</label>
            </a>
        </header>
        <hr class="french-curve">
        <section class="order-list">
            <draggable v-model="items" @start="drag=true" @end="drag=false" :class="{dragging: drag}">
                <transition-group name="orderlist" tag="ol">
                    <li v-for="item in items" :key="item.identifier" class="order-item timed-item">
                        <label>{{item.name}}</label>
        				<span class="separator dotted"></span>
        				<span class="duration">{{item.duration}}'</span>
                        <button @click="removeItem(item)" :title="label.remove">
                            <svg class="icon"><use class="dark" xlink:href="assets/images/icons.svg#delete"/></svg>
                        </button>
            		</li>
                </transition-group>
            </draggable>
            <p v-if="items.length <= 0">{{label.empty}}</p>
        </section>
        <hr class="french-curve">
        <footer class="actionbar">
            <label for="email-input">{{label.proEmail}}</label><br>
            <input id="email-input" type="email" required v-model="email" :placeholder="label.emailPlaceholder" />
            <aside class="errors">
                <p v-if="isNotEmail" class="input-error">{{label.errorNotEmail}}</p>
                <p v-if="isNotProEmail" class="input-error">{{label.errorNotProEmail}}</p>
            <aside>
            <button id="button-ok" class="plain red" @click="ordering">{{label.launch}}</button>
        </footer>
	</article>

    <footer>
        <ul>
        <!-- <li class="nav-item"><a href="#share">Partager ⎋</a></li> -->
        <!-- <li class="nav-item"><a href="#about">À propos ⓘ</a></li> -->
        </ul>
    </footer>

<script src="scripts/index.js"></script>
</body>
</html>
