html, body { margin: 0; font-family: "coquette",sans-serif; font-style: normal; font-weight: 400; font-size: 14px; }

h1 { font-size: 2rem; color: #de2845; text-align: center; }

p, li { font-weight: 300; }

li { list-style-type: none; }

p { font-size: 1rem; color: #000000; }

footer > p { text-align: center; font-size: 0.8rem; }

#menu { min-width: 320px; max-width: 640px; margin: 0 auto; border: 1px solid #de2845; background-color: #E8EAED; border-radius: 20px; text-align: center; }
#menu h2 { color: #de2845; }
#menu h3 { color: #de2845; }
#menu hr { border: 0; height: 50px; background-image: url(../images/french-curve-red.png); background-repeat: no-repeat; background-position: center center; background-size: 30%; }

.formule { padding: 0; text-align: left; }
.formule .menu-item a { padding: 0.5em 1em 0em 1em; display: block; height: 30px; text-decoration: none; color: #111111; display: flex; flex-direction: row; }
.formule .menu-item a label { margin-right: 1em; }
.formule .menu-item a .dotted-line { flex: 1; align-self: center; border-bottom: 1px dotted #999999; margin-top: 5px; }
.formule .menu-item a .duration { margin-left: 1em; }
.formule .menu-item a:hover { color: white; background-color: #de2845; }
