#menu {
    margin: 0 auto;
    border: 1px solid #de2845; border-radius: 20px;
    background-color: #E8EAED; text-align: center;
}
#menu h2 { color: #de2845; }
#menu h3 { color: #de2845; }
#menu .formule { text-align: left; }
#menu .formule a:hover { color: white; background-color: #de2845; }
#menu .menu-item { }
#menu .menu-item.disabled {
    visibility: hidden;
}
#menu .menu-item a {
    cursor: pointer;
    font-size: 1.4rem;
    color: #111111;
}
#menu .menu-item a:hover { color: white; background-color: #de2845; }
