
#order {
    display: block; position: fixed; z-index: 100;
    overflow-y: hidden;
    height: 60px;
    bottom: 0; left: 0; right: 0;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.4);
    /*-webkit-box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.4);*/
    text-align: center;
    transition: height .3s ease-out;
}
#order.opened {
    height: 100%;
    transition: height .3s ease-in;
    overflow-y: auto;
}

/* Order navbar */

#order h2 {
    text-align: center;
    margin: 0; padding: 0;
}
#order h2 > a {
    cursor: pointer;
    color: #111111;
}
#order .navbar {
    display: flex;
    flex-direction: row;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
}
#order .navbar > .icon {
    align-self: center;
    text-align: left;
}
#order .navbar > label {
    flex: 1;
    margin-right: 10px;
    align-self: center;
    text-align: center;
}
#order .navbar > .duration {
    /*margin-left: 1em;*/
    align-self: center;
    font-size: 1.6em;
    font-weight: 400;
    text-align: right;
}

/* Order Item Details */

#order h3 { font-size: 1.4rem; }
#order .item-preview { text-align: center; }
#order .item-preview img { width: 100%; height: auto; }
#order .item-preview p.duration { font-size: 1.2rem; color: #D9233D; }
#order .item-preview p.desc {
    margin: 1em 2em;
    text-align: justify;
    font-size: 1.2rem;
}
#order .actionbar { margin-top: 1em; }
#order .actionbar #email-input,
#order .actionbar #button-ok { margin: 1em; }

/* Order list  */
#order ol { margin: 0; padding: 0; }
#order .order-item { font-size: 1.4rem; transition: : all 1s; }
#order .orderlist-enter-active,
#order .orderlist-leave-active { opacity: 1; transition: all 1s; transform: translateX(-40px); }
#order .orderlist-enter,
#order .orderlist-leave-to { opacity: 0; transform: translateX(40px); }
/*#order .orderlist-complete-enter,
#order .orderlist-complete-leave-to { opacity: 0; transform: translateY(30px); }
#order .list-complete-leave-active {  }*/
